$color-white: #f4eeff;
$color-black: black;
$color-primary-light: #dcd6f7;
$color-primary: #a6b1e1;
$color-primary-dark: #424874;



//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;