.nav {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 1rem 10rem;
  transition: all 0.5s;
  text-align: center;
  font-size: 1.5rem;
  -webkit-box-shadow: 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
  @include respond(tab-port) {
    position: fixed;
    top: 0;
    left: 0;
    height: 60rem;
  }
  @include respond(phone) {
    position:fixed;
    top: 0;
    left: 0;
    height: 18rem;
  }
  &--black {
    background-color: $color-primary-dark;
  }
  &--clear {

    background-color:rgba(0, 0, 0, 0.075);

    @include respond(tab-port) {
      background-color: $color-primary-dark;
    }
  }

  width: 100%;

  z-index: 9999;
  &__links {
    &--black {
      color: $color-white;
    }
    &--clear {
      @include respond(tab-port) {
        color: $color-white;
      }
      color: $color-primary-dark;
    }

    line-height: 8rem;

    padding: 0.5px 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;


    @include respond(tab-port) {
     line-height: 5rem;
    /* padding: 0.5px 2rem; */
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    /* margin-top: 52rem; */
    position: relative;
    top: 2rem;
    left: 0;

    font-size: 3rem;
    border: 1px solid;
    }
 






    &:active,
    &:hover {
      color: #fff;
      background:$color-primary;
      padding: 1.5rem;
    }
  }
}
